.header {
    height: 10vh;
    background-color: antiquewhite;
    background-color: antiquewhite;
}

.main-section {
    height: 60vh;
    display: flex;
}

.left-main {
    height: 100%;
    /* width: 60%; */
   
    /* background-color: aqua; */
}

.main-img {
    height: 100%;
    width: 100%;
    position: relative;
    left: 0;


}

.middle-main {
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: column;
}

.middle-main-border {
    height: 100%;
    
    background-color: rgb(20, 19, 19);
}

.right-main {
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: column;
}

.right-main-top {
    height: 70%;
    
}

.right-main-border {
    height: 30%;
    
    background-color: blueviolet;
}

.additional-section {
    height: 20vh;
    
}

.footer {
    height: 10vh;
    background-color: cadetblue;
   
}

.header, .footer,.right-main-top,.right-main-border, .main-section, .right-main, .additional-section, .left-main {
    border: solid black 1px;
    text-align: center;
}