

body {
    /* box-sizing: border-box; */
    background-color: rgb(250, 239, 205);
}


.header {
    height: 10vh;
    background-color: rgb(48, 198, 253);
    border: solid black 1px;
    margin-bottom: 5px;
    
}

h1 {
    margin: 20px;
}

.main-section {
    height: 60vh;
    display: flex;
}

.text {
    font-size: 25px;
    font-style: oblique;
    font-weight: 500;
}
.left-main {
    height: 100%;
    display: flex;
    margin: 0px 10px 0px 0px;
    border: solid black 1px;
    /* width: 60%; */
   
    /* background-color: aqua; */
}

.middle {
    background-color: rgb(122, 199, 235);
    height: 100%;
    /* width: 60%; */
    display: flex;
    margin: 0px 5px 0px 5px;
    border: solid black 1px;
    /* text-align: center; */
    /* flex-direction: column; */
    /* background-color: rgb(182, 224, 200); */
}

.right-main {
    height: 100%;
    width: 70%;
    display: inline-block;
   
}

.right-main-top {
    background-color: aqua;
    height: 55%;
    width: auto;
    display: inline-block;
    border: solid black 1px;
    margin: 0px 0px 10px 5px;
    padding: 15px;

    
}

.right-main-top-text {
    font-size: 30px;
    font-weight: 500;
    font-style: italic;
}

.right-main-border {
    background-color: blue;
    height: 31%;
    /* width: auto; */
    border: solid black 1px;
    margin: 0px 0px 0px 5px;
    padding: 15px 10px 10px 10px;
}

.right-main-border-text {
    font-size: 20px;
    color: rgb(27, 219, 75);
}

.main-section-bottom {
    /* background-color: rgb(196, 250, 115); */
    height: 60vh;
    display: flex;
    /* border: solid black 1px; */
    margin-top: 10px;
    /* display: flex; */
}

.main-section-bottom-left {
    height: 100%;
    width: 20%;
    margin: 0px 10px 10px 0px;
    /* border: solid black 1px; */
    padding: 0px 10px 0px 0px;
    /* display: inline-block; */
}

.main-section-bottom-left-top {
    height: 25%;
    width: 90%;
    border: solid black 1px;
    padding: 15px;
}

.main-section-bottom-left-middle {
    height: 25%;
    width: 90%;
    border: solid black 1px;
    padding: 15px;
    margin-top: 10px;
}

.main-section-bottom-left-bottom {
    height: 25%;
    width: 90%;
    border: solid black 1px;
    padding: 15px;
    margin-top: 15px;
}

.main-section-bottom-middle {
    height: 100%;
    width: 45%;
    /* margin: 0px auto; */
    /* border: solid black 1px; */
    padding: 0px 10px 0px 0px;
    margin: 0;
    box-sizing: border-box;
}

.main-section-bottom-middle-top {
    height: 35%;
    /* width: 95%; */
    border: solid black 1px;
    padding: 15px;
    margin-top: 0px;
}

.main-section-bottom-middle-bottom{
    height: 25%;
    /* width: 95%; */
    border: solid black 1px;
    padding: 15px;
    margin-top: 15px;
}

.main-section-bottom-middle-bottom-b {
    height: 20%;
    /* border: solid black 1px; */
    /* padding: 15px; */
    margin-top: 15px;
    display: flex;

    
}

.main-section-bottom-middle-bottom-b-1 {
    height: 85%;
    width: 30%;
    border: solid black 1px;

    padding: 15px 5px 0px 15px;
    /* margin-top: 15px; */
    /* margin: 0 auto; */
    /* display: inline; */
}

.main-section-bottom-middle-bottom-b-2 {
    height: 85%;
    width: 32%;
    border: solid black 1px;
    margin: 0px 30px 0px 30px;
    padding: 15px 5px 0px 15px;
    /* padding: 15px; */
    /* margin-top: 15px; */
    /* display: inline; */
}

.main-section-bottom-middle-bottom-b-3 {
    height: 85%;
    width: 30%;
    border: solid black 1px;
    padding: 15px 5px 0px 15px;
    /* margin-top: 15px; */
    /* display: inline; */
}

.main-section-bottom-middle-right {
    /* display: flex; */
    height: 100%;
    width: 50%;
}

.main-section-bottom-middle-right-top {
    display: flex;
    height: 30%;
    width: 100%;
    margin: 0px;
}

.main-section-bottom-middle-right1 {
    height: 85%;
    width: 40%;
    border: solid black 1px;
    padding: 15px 5px 0px 15px;
    display: inline;
    
}

.main-section-bottom-middle-right2 {
    height: 85%;
    width: 20%;
    border: solid black 1px;
    padding: 15px 5px 0px 15px;
    display: inline;
    margin: 0px 5px 0px 5px;
}

.main-section-bottom-middle-right3 {
    height: 85%;
    width: 39%;
    border: solid black 1px;
    padding: 15px 5px 0px 15px;
    /* display: inline; */
}

.main-section-bottom-middle-right-middle {
    display: flex;
    height: 40%;
    width: 100%;
    margin: 0px;
    padding-top: 10px;
    box-sizing: border-box;
}

.main-section-bottom-middle-right-middle1 {
    height: 85%;
    width: 70%;
    border: solid black 1px;
    padding: 15px 5px 0px 15px;
    /* display: inline; */
    margin: 0px 5px 0px 0px;
}

.main-section-bottom-middle-right-middle2 {
    height: 85%;
    width: 29%;
    border: solid black 1px;
    padding: 15px 5px 0px 15px;
    /* display: inline; */
    /* margin: 0px 35px 0px 0px; */
}

.main-section-bottom-middle-right-boot {
    display: flex;
    height: 25%;
    width: 100%;
    margin: 0px;
    box-sizing: border-box;    
}

.main-section-bottom-middle-right-boot1 {
    padding: 15px 5px 0px 0px;
    height: 107%;
    width: 100%;
    border: solid black 1px;

}

.additional-section {
    height: 20vh;
    
}

.footer {
    height: 10vh;
    background-color: cadetblue;
   
}

.header, .footer,.right-main-top,.right-main-border, .main-section, .right-main, .additional-section, .left-main {
    /* border: solid black 1px; */
    text-align: center;
}

.header {
    font-style: italic;
    /* font-weight: 700; */
}